<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Signup</h1>
    <form action = "/user/login" method="POST">
        <label> Email</label>
        <input type="text" name="email" placeholder="Enter your email" required>
        <label> Password</label>
        <input type="text" name="password" placeholder="Enter your password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>